@import '../../app/styles/variables.module';

.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-main);
  transition: background-color 0.3s ease;
}

.mainContent {
  flex: 1;
  margin-left: $sidebar-width;
  padding: 2.5rem;
  min-height: 100vh;
  transition:
    margin-left 0.3s ease,
    padding-left 0.3s ease,
    padding 0.3s ease;

  @include mobile {
    margin-left: 0;
    padding: 1.5rem;
  }
}

.sidebarCollapsed {
  .mainContent {
    margin-left: 70px;

    @include mobile {
      margin-left: 0;
    }
  }
}
